@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <br />
    <br />
    <h1>ERROR</h1>
    <h2 style="color: #28a745">Register Successfully</h2>
    <h4 style="color: #28a745">Thank you for confirmed your email. Now you can log in to MyStore.</h4>
}
