@{ 
    ViewBag.Title = "NotificationEmailConfirm";
}
<br />
<br />
<h2 style="color:red">Email Confirm Notification</h2>
<h4 style="color:red">Please check your email to confirm before you can log in to MyStore</h4>